.test {
  border: solid 1px;
}

html {
  background-image: url('http://www.dreamtemplate.com/dreamcodes/bg_images/color/c10.jpg');
}

body {
  background-color: transparent;
  color: #e1e1e1;
  opacity: 0.8;
}

.header h1 {
  text-align: center;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 6.0vw;
}

.clock {
  width: 80%;
  margin: auto;
}

.bin {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
  font-size: 0.75vw;
}

.dec {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
  font-size: 7.0vw;
}

.hour1 {
  padding-right: 0.75%;
}

.hour2 {
  padding-left: 0.75%;
}

.minute1 {
  padding-right: 0.75%;
}

.minute2 {
  padding-left: 0.75%;
}

.second1 {
  padding-right: 0.75%;
}

.second2 {
  padding-left: 0.75%;
}

.bin-hour1 {
  padding-right: 0.75%;
  text-align: center;
}

.bin-hour2 {
  padding-left: 0.75%;
  text-align: center;
}

.bin-minute1 {
  padding-right: 0.75%;
  text-align: center;
}

.bin-minute2 {
  padding-left: 0.75%;
  text-align: center;
}

.bin-second1 {
  padding-right: 0.75%;
  text-align: center;
}

.bin-second2 {
  padding-left: 0.75%;
  text-align: center;
}

.dec-hour1 {
  padding-right: 0.75%;
  text-align: center;
}

.dec-hour2 {
  padding-left: 0.75%;
  text-align: center;
}

.dec-minute1 {
  padding-right: 0.75%;
  text-align: center;
}

.dec-minute2 {
  padding-left: 0.75%;
  text-align: center;
}

.dec-second1 {
  padding-right: 0.75%;
  text-align: center;
}

.dec-second2 {
  padding-left: 0.75%;
  text-align: center;
}

.modal-body {
  font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
  font-size: 14px;
}

.modal-content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: black;
}

.modal-content h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}


.circle {
  border-radius: 50%;
	width: 100%;
	padding-top: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.inactive {
  background-color: transparent;
  border: solid 0px transparent;
}

.active {
  border: solid 0px;
}

.on {
  background-color: #e1e1e1;
}

.off {
  background-color: #e1e1e1;
  opacity: 0.2;
}

.disapear {
  color: transparent;
}
